<div class="container mt-5">
    <div class="card ms-auto me-auto p-3 shadow-lg custom-card">

        <fa-icon [icon]="faUser" class="ms-auto me-auto user-icon"></fa-icon>

        <form>
            <div class="form-group">
                <label for="nameSurname"></label>
                <input 
                    type="text" 
                    id="nameSurname" 
                    class="form-control"
                    placeholder="Ad Soyad"
                    required
                    />
                <div class="alert-danger">
                    Girilmesi Zorunlu
                </div>
            </div>

            <div class="form-group">
                <label for="username"></label>
                <input 
                    type="text" 
                    id="username" 
                    class="form-control"
                    placeholder="Kullanıcı Adı"
                    required
                    />
                <div class="alert-danger">
                    Girilmesi Zorunlu
                </div>
            </div>

            <div class="form-group">
                <label for="password"></label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-control"
                    placeholder="Parola"
                    required
                    />
                <div class="alert-danger">
                    Girilmesi Zorunlu
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100 mt-3">
                SignUp
            </button>
        </form>

    </div>
</div>