<div class="modal fade" id="personModal" tabIndex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #f="ngForm" (ngSubmit)="f.form.valid && savePerson()">
  
          <div class="modal-header">
            <h5 class="modal-title">Person Details</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
  
          <div class="modal-body">
  
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Error!</strong> {{errorMessage}}
            </div>
  
            <div class="form-group">
              <label for="name"></label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Name"
                [(ngModel)]="person.name"
                #name="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && !name.valid">
                Girilmesi Zorunlu
              </div>
            </div>
  
            <div class="form-group">
              <label for="surname"></label>
              <input
                type="text"
                id="surname"
                name="surname"
                class="form-control"
                placeholder="Surname"
                [(ngModel)]="person.surname"
                #surname="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && !surname.valid">
                Girilmesi Zorunlu
              </div>
            </div>
  
            <div class="form-group">
              <label for="age"></label>
              <input
                type="number"
                id="age"
                name="age"
                class="form-control"
                placeholder="Age"
                [(ngModel)]="person.age"
                #age="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && (!age.valid || person.age <= 0)">
                Sıfırdan küçük ve eşit olamaz
              </div>
            </div>

            <div class="form-group">
                <label for="gender"></label>
                <input
                  type="text"
                  id="gender"
                  name="gender"
                  class="form-control"
                  placeholder="Gender"
                  [(ngModel)]="person.gender"
                  #gender="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !gender.valid">
                  Girilmesi Zorunlu
                </div>
              </div>

              <div class="form-group">
                <label for="militaryStatus"></label>
                <input
                  type="text"
                  id="militaryStatus"
                  name="militaryStatus"
                  class="form-control"
                  placeholder="militaryStatus"
                  [(ngModel)]="person.militaryStatus"
                  #militaryStatus="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !militaryStatus.valid">
                  Girilmesi Zorunlu
                </div>
              </div>

              <div class="form-group">
                <label for="educationStatus"></label>
                <input
                  type="text"
                  id="educationStatus"
                  name="educationStatus"
                  class="form-control"
                  placeholder="educationStatus"
                  [(ngModel)]="person.educationStatus"
                  #educationStatus="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !educationStatus.valid">
                  Girilmesi Zorunlu
                </div>
              </div>

              <div class="form-group">
                <label for="province"></label>
                <input
                  type="text"
                  id="province"
                  name="province"
                  class="form-control"
                  placeholder="province"
                  [(ngModel)]="person.province"
                  #province="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !province.valid">
                  Girilmesi Zorunlu
                </div>
              </div>


              <div class="form-group">
                <label for="district"></label>
                <input
                  type="text"
                  id="district"
                  name="district"
                  class="form-control"
                  placeholder="district"
                  [(ngModel)]="person.district"
                  #district="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !district.valid">
                  Girilmesi Zorunlu
                </div>
              </div>

              <div class="form-group">
                <label for="language"></label>
                <input
                  type="text"
                  id="language"
                  name="language"
                  class="form-control"
                  placeholder="Language"
                  [(ngModel)]="person.language"
                  #language="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !language.valid">
                  Girilmesi Zorunlu
                </div>
              </div>


              <div class="form-group">
                <label for="programmingLanguage"></label>
                <input
                  type="text"
                  id="programmingLanguage"
                  name="programmingLanguage"
                  class="form-control"
                  placeholder="programmingLanguage"
                  [(ngModel)]="person.programmingLanguage"
                  #programmingLanguage="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !programmingLanguage.valid">
                  Girilmesi Zorunlu
                </div>
              </div>


              <div class="form-group">
                <label for="hobbies"></label>
                <input
                  type="text"
                  id="hobbies"
                  name="hobbies"
                  class="form-control"
                  placeholder="hobbies"
                  [(ngModel)]="person.hobbies"
                  #hobbies="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !hobbies.valid">
                  Girilmesi Zorunlu
                </div>
              </div>

              <div class="form-group">
                <label for="certificates"></label>
                <input
                  type="text"
                  id="certificates"
                  name="certificates"
                  class="form-control"
                  placeholder="certificates"
                  [(ngModel)]="person.certificates"
                  #certificates="ngModel"
                  required
                />
                <div class="alert-danger" *ngIf="f.submitted && !certificates.valid">
                  Girilmesi Zorunlu
                </div>
              </div>
  
  
  
          </div>
  
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <button class="btn btn-primary" type="submit">Gönder</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>